.gasy-content {
  background: linear-gradient(to bottom, #1d45b3 0%, #f75211 65%, #800000 100%);
  margin: 0;
  overflow: hidden !important;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.home-wrapper {
  canvas {
    cursor: crosshair;
    display: block;
  }

  .text {
    color: white;
    position: absolute;
    top: 25%;
    text-align: center;
    display: block;
    width: 100%;
    font-family: "Montserrat", Sans-Serif;
    font-size: 1.5rem;
  }

  #textt {
    color: rgba(243, 150, 10, 0.678);
  }

  .item blockquote {
    border-left: none;
    margin: 0;
  }

  .github-link {
    color: white;
    right: 10px;
    position: absolute;
    top: 10px;
  }

  .github-link:hover {
    color: rgb(28, 164, 174);
  }

  .github-link > i {
    font-size: 2.333333em !important;
  }

  .container {
    overflow: hidden;
  }

  .navimg {
    height: auto;
    width: 6%;
    margin: 5px 100px 2px 100px;
  }

  .navbar > hr {
    height: 1px;
    border: none;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background: -webkit-gradient(
      linear,
      0 0,
      100% 0,
      from(transparent),
      to(transparent),
      color-stop(50%, white)
    );
  }

  .hanuman1 {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    max-width: 120%;
    max-height: 120%;
    min-width: 45%;
    min-height: 45%;
    z-index: -1;
  }

  .hanuman2 {
    position: absolute;
    top: 40%;
    left: 20%;
    filter: contrast(150%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    min-width: 25%;
    min-height: 25%;
    z-index: -1;
  }

  .hanuman3 {
    position: absolute;
    top: 35%;
    left: 88%;
    filter: contrast(150%);
    transform: translate(-50%, -50%);
    max-width: 40%;
    max-height: 40%;
    min-width: 10%;
    min-height: 10%;
    z-index: -1;
  }

  .hanuman4 {
    position: absolute;
    top: 70%;
    left: 10%;
    filter: contrast(150%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    min-width: 20%;
    min-height: 20%;
    max-height: 100%;
    z-index: -2;
  }

  .ram {
    position: absolute;
    top: 70%;
    left: 48%;
    filter: contrast(150%);
    transform: translate(-50%, -50%);
    max-width: 70%;
    max-height: 70%;
    min-width: 30%;
    min-height: 30%;
    z-index: -2;
  }

  .jaishriram {
    position: absolute;
    top: 23%;
    left: 50%;
    filter: contrast(200%);
    transform: translate(-50%, -50%);
    max-width: 50%;
    max-height: 50%;
    min-height: 20%;
    min-width: 20%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.8)) saturate(200%);
    z-index: -1;
  }

  /**/
  #container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
  }
  /* relevant portion */

  .btn {
    background-color: #800000;
    color: white;
    margin: 0px 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 10px rgb(255, 223, 0);
    z-index: 2;
  }

  .btn:hover {
    color: #800000;
    background-color: #ffd700;
  }

  .text p {
    font-size: 16px;
  }
}
